
@import 'normalize.css';
@import 'reset.css';
@import 'buttons.css';
@import 'forms.css';
@import 'colors.css';
@import 'spacing.css';
@import 'typography.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'layout.css';
@import 'flexbox.css';

:root {
	--copy-font: fira-sans;
	--copy-font-weight: 400;
	--copy-font-color: #444;
}

.map-container {
    position: relative;
    height: 50vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.reticle {
    position: absolute;
    top: 49%;
    left: 49%;
    z-index: 100;
}
