@import 'normalize.css';
@import 'reset.css';
@import 'buttons.css';
@import 'forms.css';
@import 'colors.css';
@import 'spacing.css';
@import 'typography.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'layout.css';
@import 'flexbox.css';
@import 'd3.css';

:root {
    --copy-font: fira-sans;
    --copy-font-weight: 400;
    --copy-font-color: #444;
}

.map-container {
    position: fixed;
    height: 100%;
    width: 38%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.reticle {
    position: absolute;
    top: 49%;
    left: 49%;
    z-index: 100;
}

.content {
    position: relative;
    margin-left: 38%;
    padding-left: 2rem;
}

.title { 
    font-family: 'ff-prater-script-web';
    font-size: 3em;
    position: relative;
    bottom: 10px;
    color: red;
    padding-left: 10px;
}

h2 {
    color: #aaa;
    text-transform: uppercase;
    border-bottom: 1px dotted #eee;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.pos {
    color: #ff0000;
}

/* .neg { */
/*     color: green; */
/* } */

.fc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
