boto==2.36.0
ecdsa==0.13
Fabric==1.10.1
matplotlib==1.4.3
mock==1.0.1
mod-pywebsocket==0.7.9
mplh5canvas==0.7
netifaces==0.10.4
nose==1.3.4
numpy==1.9.1
paramiko==1.15.2
pycrypto==2.6.1
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
six==1.9.0
