<!DOCTYPE html>
<html>
    {% include '_head.jinja2' %}
    <body>
        {% block body %}{% endblock %}
        {% include '_footer.jinja2' %}
        <!-- Webfonts via TypeKit -->
        <script src="//use.typekit.net/uos1vuy.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </body>
</html>
