{% extends 'base.jinja2' %}
{% block body %}
    <div class='map-container'>
        <div id='map'>
            <span class='reticle bold red h3'>o</span>
        </div>
    </div>

    <div class='content'>
        <h1><a href='/'>Seattle</a></h1>

        <section id='summary' class='pal'>
            <p>How <span class='uppercase bold neighborhood'>{{lat}}, {{lon}}</span> has changed <span>in the last year.</span></p>
            <ul class='hanging'>
                <li>Crime has <span class='crime'>{{percentages.Crime|safe}}</span> Number in last year: {{counts.Crime}}</li>
                <li>Fires have <span class='fire'>{{percentages.Fire|safe}}</span> Number in last year: {{counts.Fire}}</li>
                <li>Accidents have <span class='accidents'>{{percentages.MVI|safe}} Number in last year: </span>{{counts.MVI}}</li>
            </ul>
        </section>

        <section id='visualization' class='container'>
            <div class='graph'></div>
        </section>

        <!-- <section id='points-on-a-map' class='container'> -->
        <!-- </section> -->

        <footer>
            <p>No!</p>
        </footer>

    </div>
{% endblock %}
